.content-wrapper > h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 61px;
}

.table-section {
    position: relative;
    top: 50%;
    grid-template-rows: 44px 1fr;
    width: 90%;
    max-height: 50%;
    border-collapse: 0;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    
}

.table-section .header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    position: relative;
}

table {
    position: fixed;
    z-index: 1;
    left: 53%;
    top: 53%;
    transform: translate(-50%,-50%);
    width: 65%;
    border-collapse: 0;
    border-spacing: 0;
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
    background: #fafafa; 
    text-align: left;
}
th,td {
    padding: 8px 10px;
}

th {
    background: #e0e0ee;
    color: fafafa;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

td {
    font-family: 'Open Sans' ,sans-serif;
}

tr:nth-child(odd) {
    background-color: #eeeeee;
}

.file-profile img{
    max-width: 30px;
    max-height: 30px;
    align-self: stretch;
    position: relative;
}

.file-footer img{
    max-width: 30px;
    max-height: 30px;
    align-self: stretch;
}

.header {}

.table-section .header a {
    background: #BD3913;
    border-radius: 25px;
    padding: 12px 20px;
    width: 92px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header {}

.header select {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #DBDBDB;
    width: 345px;
    justify-self: flex-start;
    height: 36px;
    margin: 2px 6px;
}

.header label {
    position: relative;
    left: 90%;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;
}

.header label input[type="text"] {
    width: 161px;
    height: 36px;
    left: 1691px;
    top: 305px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.table-input {
    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: xx-small;
}

.pagination td li {
    display: inline;
}

.pagination td li a {
    display: inline-block;
    text-decoration: wavy;
    padding: 5px 10px;
    color: #000;
}

.pagination td li a {
    border-radius: 5px ;
    border-spacing: 0;
}

.pagination active {
    background-color: #cfcfe2;
    color: #eeeeee;

}